body{
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: aqua;

}

#caixa1 {
    width: 500px;
    background-color: red;
    border: 5px solid black;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
}

#caixa2 {
    width: 500px;
    background-color: orange ;
    border: 5px solid black;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;

}

#caixa3 {
    width: 500px;
    background-color: blue ;
    border: 5px solid black;
    text-align: center;
    margin: 0 auto;
    border-radius: 60px;
}